# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/

# Django stuff:
*.log
staticfiles/
media/

# Local database
*.sqlite3
db.sqlite3

# Environment variables file

# React build
frontend/node_modules/
frontend/dist/
