{% extends "user_admin_panel/user_admin_base.html" %}
{% load static %}

{% block page_title %}Dashboard{% endblock page_title %}

{% block sidebar_nav %}
{# This block overrides the default sidebar in the base to set "Dashboard" as active #}
<ul class="nav navbar-nav">
    <li class="active">
        <a href="{% url 'user_dashboard' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
    </li>
    <li class="menu-title">Store Management</li>
    {# These links will be made functional in later steps #}
    <li><a href="#"><i class="menu-icon fa fa-shopping-bag"></i>Products</a></li>
    <li><a href="#"><i class="menu-icon fa fa-shopping-cart"></i>Orders</a></li>
    <li class="menu-title">Platform</li>
    <li><a href="#"><i class="menu-icon fa fa-cog"></i>Settings</a></li>
    <li><a href="#" onclick="document.getElementById('logout-form').submit();"><i class="menu-icon fa fa-power-off"></i>Logout</a></li>
</ul>
{% endblock sidebar_nav %}


{% block content %}
<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-cash"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text">$<span class="count">0</span></div> {# Placeholder #}
                                <div class="stat-heading">Revenue</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-cart"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">0</span></div> {# Placeholder #}
                                <div class="stat-heading">Sales</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">0</span></div> {# Placeholder #}
                                <div class="stat-heading">Visitors</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-users"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text"><span class="count">1</span></div> {# The current user #}
                                <div class="stat-heading">Clients</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Traffic </h4>
                </div>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="card-body">
                            <div id="traffic-chart" class="traffic-chart"></div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card-body">
                            <div class="progress-box progress-1">
                                <h4 class="por-title">Visits</h4>
                                <div class="por-txt">96,930 Users (40%)</div>
                                <div class="progress mb-2" style="height: 5px;"><div class="progress-bar bg-flat-color-1" role="progressbar" style="width: 40%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div></div>
                            </div>
                            <div class="progress-box progress-2">
                                <h4 class="por-title">Bounce Rate</h4>
                                <div class="por-txt">3,220 Users (24%)</div>
                                <div class="progress mb-2" style="height: 5px;"><div class="progress-bar bg-flat-color-2" role="progressbar" style="width: 24%;" aria-valuenow="24" aria-valuemin="0" aria-valuemax="100"></div></div>
                            </div>
                            <div class="progress-box progress-2">
                                <h4 class="por-title">Unique Visitors</h4>
                                <div class="por-txt">29,658 Users (60%)</div>
                                <div class="progress mb-2" style="height: 5px;"><div class="progress-bar bg-flat-color-3" role="progressbar" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div></div>
                            </div>
                        </div> 
                    </div>
                </div> 
                <div class="card-body"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body"><h4 class="box-title">Recent Orders </h4></div>
                    <div class="card-body--">
                        <div class="table-stats order-table ov-h">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="serial">#</th>
                                        <th>Order ID</th>
                                        <th>Name</th>
                                        <th>Product</th>
                                        <th>Quantity</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {# This part will be dynamic later #}
                                    <tr>
                                        <td class="serial">1.</td>
                                        <td>#5469</td>
                                        <td><span class="name">Louis Stanley</span></td>
                                        <td><span class="product">iMax</span></td>
                                        <td><span class="count">231</span></td>
                                        <td><span class="badge badge-complete">Complete</span></td>
                                    </tr>
                                    <tr>
                                        <td class="serial">2.</td>
                                        <td>#5468</td>
                                        <td><span class="name">Gregory Dixon</span></td>
                                        <td><span class="product">iPad</span></td>
                                        <td><span class="count">250</span></td>
                                        <td><span class="badge badge-pending">Pending</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    </div>
{% endblock content %}


{% block extra_scripts %}
    <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>
    
    <script>
        jQuery(document).ready(function($) {
            "use strict";
            if ($('#traffic-chart').length) {
                var chart = new Chartist.Line('#traffic-chart', {
                  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                  series: [
                  [0, 180, 350,  250,  220,  0],
                  [0, 330, 150,  200,  150,  30],
                  [0, 150, 280,  150,  300,  50]
                  ]
              }, {
                  low: 0, showArea: true, showLine: false, showPoint: false,
                  fullWidth: true, axisX: { showGrid: true }
              });
                chart.on('draw', function(data) {
                    if(data.type === 'line' || data.type === 'area') {
                        data.element.animate({
                            d: {
                                begin: 2000 * data.index,
                                dur: 2000,
                                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                to: data.path.clone().stringify(),
                                easing: Chartist.Svg.Easing.easeOutQuint
                            }
                        });
                    }
                });
            }
        });
    </script>
{% endblock extra_scripts %}
