{% extends "user_admin_panel/user_admin_base.html" %}
{% load static %}

{% block page_title %}Dashboard{% endblock page_title %}

{% block sidebar_nav %}
<ul class="nav navbar-nav">
    <li class="active">
        <a href="{% url 'user_dashboard' %}"><i class="menu-icon fa fa-laptop"></i>Dashboard </a>
    </li>
    <li class="menu-title">Store Management</li>
    <li><a href="#"><i class="menu-icon fa fa-shopping-bag"></i>Products</a></li>
    <li><a href="#"><i class="menu-icon fa fa-shopping-cart"></i>Orders</a></li>
    <li class="menu-title">Platform</li>
    <li><a href="#"><i class="menu-icon fa fa-cog"></i>Settings</a></li>
    <li><a href="#" onclick="document.getElementById('logout-form').submit();"><i class="menu-icon fa fa-power-off"></i>Logout</a></li>
</ul>
{% endblock sidebar_nav %}


{% block content %}
<div class="animated fadeIn">
    <div class="row">
        {# ... your existing 4 stat widgets here ... #}
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Traffic </h4>
                </div>
                <div class="row">
                    <div class="col-lg-8"><div class="card-body"><div id="traffic-chart" class="traffic-chart"></div></div></div>
                    <div class="col-lg-4"><div class="card-body">{# ... progress bars ... #}</div></div>
                </div> 
                <div class="card-body"></div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="orders">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body"><h4 class="box-title">Recent Orders </h4></div>
                    <div class="card-body--"><div class="table-stats order-table ov-h"><table class="table">
                        {# ... existing orders table ... #}
                    </table></div></div>
                </div> 
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><h4>Pie Chart</h4></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-2"><span class="pie" data-peity='{ "fill": ["#13dafe", "#f2f2f2"]}'>1/4</span></div>
                        <div class="col-lg-2"><span class="pie" data-peity='{ "fill": ["#6164C1", "#f2f2f2"]}'>236/360</span></div>
                        <div class="col-lg-2"><span class="pie" data-peity='{ "fill": ["#F96262", "#f2f2f2"]}'>0.45/1.561</span></div>
                        <div class="col-lg-2"><span class="pie" data-peity='{ "fill": ["#99D683", "#f2f2f2"]}'>1,4</span></div>
                        <div class="col-lg-2"><span class="pie" data-peity='{ "fill": ["#FFCA4A", "#f2f2f2"]}'>366,100</span></div>
                        <div class="col-lg-2"><span class="pie" data-peity='{ "fill": ["#4C5667", "#f2f2f2"]}'>0.52,1.041</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><h4>Line Charts</h4></div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4"><span class="peity-line" data-width="100%">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span></div>
                        <div class="col-lg-4"><span class="peity-line" data-width="100%">6,2,8,4,-3,8,1,-3,6,-5,9,2,-8,1,4,8,9,8,2,1</span></div>
                        <div class="col-lg-4"><span class="peity-line" data-width="100%">6,2,8,4,3,8,1,3,6,5,9,2,8,1,4,8,9,8,2,1</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}


{% block extra_scripts %}
    <script>
        jQuery(document).ready(function($) {
            "use strict";
            if ($('#traffic-chart').length) {
                var chart = new Chartist.Line('#traffic-chart', {
                  labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun'],
                  series: [
                  [0, 180, 350,  250,  220,  0],
                  [0, 330, 150,  200,  150,  30],
                  [0, 150, 280,  150,  300,  50]
                  ]
              }, {
                  low: 0, showArea: true, showLine: false, showPoint: false,
                  fullWidth: true, axisX: { showGrid: true }
              });
                chart.on('draw', function(data) {
                    if(data.type === 'line' || data.type === 'area') {
                        data.element.animate({
                            d: {
                                begin: 2000 * data.index,
                                dur: 2000,
                                from: data.path.clone().scale(1, 0).translate(0, data.chartRect.height()).stringify(),
                                to: data.path.clone().stringify(),
                                easing: Chartist.Svg.Easing.easeOutQuint
                            }
                        });
                    }
                });
            }
        });
    </script>
    
    <script src="{% static 'user_dashboard/assets/js/init/peitychart-init.js' %}"></script>
{% endblock extra_scripts %}