{% extends "themes/mini_shop/mini_shop_base.html" %}
{% load static %}

{% block main_content %}
    <!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled">
                    {% for category in categories %}
                    <li class="pb-3">
                        <a class="text-decoration-none" href="{% url 'storefront:category_products' store_id=store.id category=category %}">
                            {{ category }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-inline shop-top-menu pb-3 pt-1">
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'storefront:store_products' store_id=store.id %}">All</a>
                            </li>
                            {% for category in featured_categories %}
                            <li class="list-inline-item">
                                <a class="h3 text-dark text-decoration-none mr-3" href="{% url 'storefront:category_products' store_id=store.id category=category %}">{{ category }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control" onchange="location = this.value;">
                                <option value="{% url 'storefront:store_products' store_id=store.id %}">Featured</option>
                                <option value="{% url 'storefront:store_products' store_id=store.id %}?sort=price_asc">Price: Low to High</option>
                                <option value="{% url 'storefront:store_products' store_id=store.id %}?sort=price_desc">Price: High to Low</option>
                                <option value="{% url 'storefront:store_products' store_id=store.id %}?sort=name_asc">A to Z</option>
                                <option value="{% url 'storefront:store_products' store_id=store.id %}?sort=name_desc">Z to A</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                {% if product.images.first %}
                                <img class="card-img rounded-0 img-fluid" src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                {% else %}
                                <img class="card-img rounded-0 img-fluid" src="{% static 'themes/mini_shop/assets/img/shop_01.jpg' %}" alt="{{ product.name }}">
                                {% endif %}
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="{% url 'storefront:product_detail' store_id=store.id product_id=product.id %}"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'storefront:product_detail' store_id=store.id product_id=product.id %}"><i class="far fa-eye"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'cart:add_to_cart' product.id %}"><i class="fas fa-cart-plus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="{% url 'storefront:product_detail' store_id=store.id product_id=product.id %}" class="h3 text-decoration-none">{{ product.name }}</a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>{{ product.category }}</li>
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        {% if products.has_previous %}
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ products.previous_page_number }}">Previous</a>
                        </li>
                        {% endif %}
                        
                        {% for num in products.paginator.page_range %}
                        <li class="page-item {% if products.number == num %}active{% endif %}">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="?page={{ num }}">{{ num }}</a>
                        </li>
                        {% endfor %}

                        {% if products.has_next %}
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0" href="?page={{ products.next_page_number }}">Next</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Content -->
{% endblock %}