{% extends "themes/eshopper/eshopper_base.html" %}
{% load static %}

{% block page_title %}Checkout - Moohaar{% endblock page_title %}

{% block theme_navbar_bottom %}{# Leave empty to not show homepage carousel #}{% endblock %}

{% block theme_content %}
    <div class="container-fluid bg-secondary mb-5">
        <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
            <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
            <div class="d-inline-flex">
                <p class="m-0"><a href="/">Home</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0"><a href="{% url 'cart:cart_detail' %}">Shopping Cart</a></p>
                <p class="m-0 px-2">-</p>
                <p class="m-0">Checkout</p>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <form class="form" action="." method="post">
            {% csrf_token %}
            <div class="row px-xl-5">
                <div class="col-lg-8">
                    <div class="mb-4">
                        <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label>First Name</label>
                                {{ form.first_name }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Last Name</label>
                                {{ form.last_name }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>E-mail</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Mobile No</label>
                                {{ form.phone }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Address</label>
                                {{ form.address }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>City</label>
                                {{ form.city }}
                            </div>
                            <div class="col-md-6 form-group">
                                <label>Postal Code</label>
                                {{ form.postal_code }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="font-weight-medium mb-3">Products</h5>
                            {% for item in cart %}
                            <div class="d-flex justify-content-between">
                                <p>{{ item.product.name }} x {{ item.quantity }}</p>
                                <p>{{ item.total_price }} PKR</p>
                            </div>
                            {% endfor %}
                            <hr class="mt-0">
                            <div class="d-flex justify-content-between mb-3 pt-1">
                                <h6 class="font-weight-medium">Subtotal</h6>
                                <h6 class="font-weight-medium">{{ cart.get_total_price }} PKR</h6>
                            </div>
                            <div class="d-flex justify-content-between">
                                <h6 class="font-weight-medium">Shipping</h6>
                                <h6 class="font-weight-medium">FREE</h6> {# Placeholder #}
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <div class="d-flex justify-content-between mt-2">
                                <h5 class="font-weight-bold">Total</h5>
                                <h5 class="font-weight-bold">{{ cart.get_total_price }} PKR</h5>
                            </div>
                        </div>
                    </div>
                    <div class="card border-secondary mb-5">
                        <div class="card-header bg-secondary border-0">
                            <h4 class="font-weight-semi-bold m-0">Payment</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" name="payment" id="cod" checked>
                                    <label class="custom-control-label" for="cod">Cash on Delivery</label>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer border-secondary bg-transparent">
                            <button type="submit" class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% endblock theme_content %}