{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/svg+xml" href="{% static 'frontend/vite.svg' %}">
  <link rel="manifest" href="{% static 'frontend/manifest.webmanifest' %}">
  <link rel="stylesheet" href="{% static 'frontend/assets/index-Cowv0NeY.css' %}">
  <title>Moohaar Dashboard</title>
</head>
<body class="bg-white dark:bg-gray-900">
  <div id="root"></div>
  <script type="module" src="{% static 'frontend/assets/index-D8gsW8NJ.js' %}"></script>
  <script type="module" src="{% static 'frontend/registerSW.js' %}"></script>
</body>
</html>
